@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
}

:root{
    ---paragraph-text: #757575;
    /* ---bg-color: #EFF6F5; */
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header */

header {
    background-color:var(---bg-color) ;
    margin-bottom: 4rem;
}

/* navbar */
.logo {
    color: #40A3F8;
    font-weight: 700;
}

.navbar ul li {
    margin-right: 2rem;
}

.navbar ul li a {
    color: #6E5F5F;
    font-weight: 500;
}

.get-startedbtn {
    text-decoration: none;
    background-color: #40A3F8;
    color: white;
    font-weight: 500;
    padding: .5rem 1.8rem;
    border-radius: .5rem;
}

.get-startedbtn:hover {
    padding: .6rem 1.9rem;
    background-color: #d2dde6;
    color: black;
}

/* banner */
.row h2 {
    font-size: 48px;
    line-height: 70px;
    line-height: 124%;
    color: #3E3E3E;
}

.row h2 span {
    color: #40A3F8;
}

.row p {
    font-size: 14px;
    line-height: 30px;
    color: var(---paragraph-text);
}

.btn-1 {
    text-decoration: none;
    background-color: #40A3F8;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .2rem;
    font-weight: 500;
}

.btn-1:hover {
    background-color: #c6c9bb;
    color: black;
}

.btn-2 {
    text-decoration: none;
    border: 1px solid #40A3F8;
    padding: .5rem 1rem;
    border-radius: .4rem;
    font-weight: 500;
}

.btn-2:hover {
    color: black;
    background-color: aqua;
}

/* Easy step solution */
.easy-step h2 {
    font-size: 42px;
    line-height: 70px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 4rem;
}

.box {
    padding: 2.2rem;
}

.box:hover {
    padding: 2.2rem;
    box-shadow:
        7.9px 6.7px 2.1px rgba(0, 0, 0, 0.024),
        15.4px 13.2px 4.7px rgba(0, 0, 0, 0.029),
        22.8px 19.5px 8px rgba(0, 0, 0, 0.03),
        30.2px 25.9px 12.3px rgba(0, 0, 0, 0.03),
        38.1px 32.7px 18.2px rgba(0, 0, 0, 0.03),
        47.4px 40.6px 26.8px rgba(0, 0, 0, 0.03),
        60.3px 51.6px 40.2px rgba(0, 0, 0, 0.031),
        83.4px 71.4px 64px rgba(0, 0, 0, 0.035),
        146px 125px 120px rgba(0, 0, 0, 0.05);
}

.bi-check-circle-fill {
    color: #40A3F8;
}



@media (max-width: 767.98px) {
    .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        padding: 0 5rem;
        gap: 0px;
    }
}

/* service section */
.service-section {
    margin-top: 7rem;
}

.service-section p {
    color: var(---paragraph-text);
    margin-bottom: 5rem;
}

.services a {
    text-decoration: none;
    background-color: #40A3F8;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .4rem;
}

.services a:hover {
    color: #ecdcdc;
    background-color: coral;
}

/* online doctor section */
.online-doctors {
    margin-top: 6rem;
}

.online-doctors h2 {
    position: relative;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 2%;
}

.online-doctors h2::after {
    content: "";
    width: 81px;
    height: 15px;
    top: 65px;
    right: 600px;
    background-image: url("../images/Titletag@3x.png");
    background-size: cover;
    position: absolute;
}

.online-doctors p {
    color: var(---paragraph-text);
}

.buttun {
    margin: 6rem 0;
}

.buttun a {
    text-decoration: none;
    background-color: #0d6efd;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 7px;
}

.buttun a:hover {
    color: rgb(36, 34, 34);
    background-color: #a7db6a;
}

.doctors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.doctor img {
    width: 200px;
    height: 230px;
    border-radius: 10px;
}

.doctor .icons {
    color: #0d6efd;
}

@media (max-width: 767.98px) {
    .doctors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .doctors {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.app-section {
    margin-bottom: 6rem;
}

/* booking section */
.booking-section {
    margin-bottom: 10rem;
    height: 341px;
    background-color: #40A3F8;
    border-radius: 10px;
    padding-top: 123px;
    padding-left: 100px;
}

.booking-section h2 {
    position: relative;
    font-size: 40px;
}

.booking-section h2::after {
    content: "";
    top: -233px;
    right: -30px;
    width: 600px;
    height: 452px;
    /* background-color: #01090f; */
    background-image: url("../images/smiling-young-female-doctor-wearing-medical-robe-with-stethoscope-spreading-hand-isolated-green-wall\ 1.png");
    position: absolute;
}

.booking-section a {
    text-decoration: none;
    color: rgb(17, 13, 13);
    background-color: white;
    padding: .6rem 1.2rem;
    border-radius: 5px;
}

.booking-section a:hover {
    color: white;
    background-color: #a7db6a;
}

@media (max-width: 767.98px) {
    .booking-section h2::after {
        background-image: none;
    }
}

@media (max-width: 575.98px) {
    .booking-section h2::after {
        background-image: none;
    }
}

/* footer */
.footer-logo h2,
.footer-icons {
    color: #55ADF9;
}

.subscribed a {
    text-decoration: none;
    background-color: #40A3F8;
    color: white;
    padding: .4rem 3.8rem;
    border-radius: .3rem;
}

.subscribed a:hover {
    background-color: blue;
    color: white;
}

.copyright {
    display: grid;
    grid-template-columns: repeat(2 1fr);
}